.DS_Store
./env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
credentials.json
securecloud_accessKeys.csv
*.crt
*.key
instance/


src/users.pkl
src/keys
src/storage
src/chunk